name: Lint Lists

on:
  push:
    branches: [ main]

jobs:
  check-duplicates:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Run duplicate check script
        run: bun run check:duplicates
